@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: rgb(224, 219, 210);
	display: grid;
	grid-template-areas: "header"
	"main"
	"footer";

	
	
}



.logo__bar {
	grid-area: header;
	background: linear-gradient(80deg, #000000, #696868);
	font-size: 16px;
	padding: 10px 10px;
	display: flex;
}

.logo__photo {
max-width: 10%;
max-height: 10%;
margin-right: 20px;

}


@media (max-width: 640px){

	.navigation__burger {
		border: none;
		
	
	}

	.navigation__list{
	display: flex;
	flex-direction: column;
	display: none;
	
	}

	.navigation__list--visible{
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 641px){

	.navigation__burger {
		display: none;
	}
}

.navigation { 
	display: flex;
	font-style: italic;
	font-size: 20px;

	
}


.navigation__list {
	
	background: #c9692927;
	padding: 0;

}


.navigation__item {
	display: inline;
	padding: 10px;
}

.navigation__link {
	text-decoration: none;
	color: #c96929;
}



.main {
	grid-area: main;
	width: 100%;
	max-width: 70%;
	margin: 20px auto;
	padding: 16px;
}

.main__header {
	color: tomato;
	font-size: 35 px;
}

.main__header--red {
	color: darkred;
}

p {
	margin: 10px;
}



.section__header {
	color: #1460AA;
	text-decoration: underline;
	background: rgba(0, 0, 128, 0.2);
}



.about {
	position: relative;
}

.about__test {
	width: 100px;
	height: 100px;
	background: #c9692969;
	font-size: 16px;
	margin-right: 20px;
	box-sizing: border-box;
	float: left;
}

.diary__header {
	text-align: center;
	letter-spacing: 0.5em;
	color: rgb(21, 117, 214);
}

.diary__link {
	text-transform: italic;
}

.grid {

}

.work__weekHeader {
	color: #c96929;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px rgb(206, 15, 15);
}

.terminalList {
	list-style-position: inside;
	list-style-type: circle;
	line-height: 1.5;
	color: yellow;
}

.aboutUs__pic {
	max-width: 50%;
}  



.contact__map {
	width: 100%;
	max-width: 80%;
	display: flex;
	margin: 20px auto;
	
	
}

.contact__card {
	background: #F8F8F8;
	border: 2px solid #cd5700;
	border-radius: 16px;
	width: 624px;
	max-width: 100%;
	height: 320px;
	padding: 32px;
	
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	
}




.contact__photo {
	
	max-width: 90%;
	width: 100%;
	border: 2px solid black;
	border-radius: 50%
	
}

.contact__person__header {
	margin-left: 10px;
}

.contact__person__name {
	color: #000000;
	margin: 0;
	font-weight: normal;
	font-size: 36px;
	letter-spacing: 0.2em;

}

.contact__person__proffesion {

	color: #696868;
	font-style: italic;

}

.contact__person__description {
	color: #000000;
	line-height: 22px;
	
}


.contact__person__link {

	color: rgb(48, 151, 48);
	text-decoration: none;
	
}


.date__table {
	background: #696868;
	width: 100%;
	text-align: center;
	border: 1px solid #c96929;
	border-collapse: unset;
	
}

.footer {
	
	grid-area: footer;
	background: linear-gradient(to bottom, #000000, #696868);
	color: #f4F3ef;
	padding: 10px;
	margin-top: 10px;

}

.flex {
	min-height: 100vh;
	border: 2px solid red;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	
	
}



.flex__item {
	background: #c96929;
	padding: 15px;
	padding-top: 100px;
	border: 2px solid red;
	font-size: 16px;
	text-align: center;
	
flex: 0 0 100px; /* flex-grow, flex-shrink, flex-basis*/
	
}

.flex__item--bigger {
	font-size: 40px;

}

.flex__item--self {
	align-self: flex-end;
}

.test {
	width: 100%;
	height: 100vh;
	background-image: url('../assets/img/desen_tlo.jpg');
	background-position: center center;
	opacity: 0.5;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-size: cover;
	
}
